/* -*- coding: utf-8-unix -*- */

@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono:400);

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Karla,sans-serif;
  font-size: 16px;
}

body {
  background-color: white;
  color: #2e3436;
  font-family: Karla,sans-serif;
  font-size: 16px;
  line-height: 1.625em;
  margin-left: auto;
  margin-right: auto;
  max-width: 99%;
  padding: 2rem;
  text-align: center;
  text-align: left;
  width: 52rem;
}

a {
  color: #3465a4;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #3465a4;
  color: #3465a4;
  text-decoration: none;
}

a[role="button"]:hover {
  border-bottom: none;
}

code {
  font-family: "Droid Sans Mono",monospace;
  font-size: 14px;
}

p {
  margin-bottom: 1em;
  text-align: left;
}

header {
  background: url(header.png) no-repeat center center;
  height: 50px;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

#screenshot {
  float: left;
  /* img.height + 12 + 12 */
  height: 361px;
}

#screenshot img {
  box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
}

.featherlight-content {
  background: none !important;
}

.featherlight-close-icon {
  background: none !important;
  color: white !important;
}

#overview {
  /* img.width + 24 */
  margin-left: 281px;
}

footer {
  color: #888a85;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

/* img.width * 2 + 24 + 24 + 24 */
@media (max-width: 586px) {
  header {
    background: url(header.png) no-repeat left center;
  }
  #screenshot {
    text-align: center;
    width: 100%;
  }
  #overview {
    float: left;
    margin-left: 0;
  }
}
